
<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">
			<div class="d-flex justify-content-center">
	      		<div class="profile-card-container d-flex justify-content-center">
					<div class="">
						<% if @user == current_user %>



								<div class="d-flex justify-content-center">
									<%= image_tag("profile/to-the-moon-profile-cosmonaut.png", class: "profile-cards-img", alt: "to-the-moon-profile-cosmonaut") %>
								</div>






							<br/><br/>

							<h3 class="text-center profile-title">
								<%= @user.email %>
							</h3>

							<ul id="pending-friend-list" class="d-flex flex-column">
								<% if @user.pending_friends.length > 0 %>
									<p><%= "Pending friend requests :" %></p>
									<% n = 1 %>
									<% @pending_friends.each do |pending_friend| %>
									<li>
										<%= link_to pending_friend.email, profile_path(pending_friend.id) %>  -
										<a id="friend-request" <%= link_to "Accept friend request", friendships_path(:friend_id => pending_friend.id, :n => n), method: :post, :remote => true %></a>
											<% n += 1 %>
									</li>
								<% end %>
							<% end %>
							</ul>
							<br/>


							<div class="profile-lists-container">
								<div class="d-flex justify-content-between">
									<div class="profile-favorites-container">
										<p><%= "My friends"%></p>
										<div class="profile-favorites">
											<% if @user.friends.length > 0 %>
												<% @user.friends.each do |friend| %>
													<a <%= link_to friend.email, profile_path(friend.id) %></a>
												<br/>
												<% end %>

											<% end %>
										</div>
									</div>


									<br/>

									<div class="profile-favorites-container">
										<p><%= "My Conversations"%></p>
										<div class="profile-favorites">
											<% if @user.conversations.length > 0 %>
												<% @user.conversations.each do |convo| %>
													<% convo_id = convo.id %>
												<% unless convo.messages.length == 0 %>
													<a <%= link_to convo.interlocutor.email, conversation_path(convo_id) %> </a>
													<% if convo.messages.last.has_been_read == false %>
														<% @n = 0 %>
														<% convo.messages.each do |message| %>
															<% if message.has_been_read == false %>
																<% @n = @n + 1 %>
															<% end %>
												<% end %>
														<% end %>
													<% end %>
													<%= @n %>
													<br/>
												<% end %>

											<% end %>
										</div>
									</div>
								</div>

								<br/>
								<div class="d-flex justify-content-between">
									<div class="profile-favorites-container">
										<p><%= "My articles"%></p>
										<div class="profile-favorites">
											<% unless @articles == nil %>
												<% @articles.each do |article| %>
													<a <%= link_to article.title, article_path(article.id) %></a>
												<br/>
												<% end %>

											<% end %>
										</div>
									</div>


									<br/>

									<div class="profile-favorites-container">
										<p><%= "My favorites"%></p>
										<div class="profile-favorites">
											<% unless @favorite_articles == nil %>
												<% @favorite_articles.each do |fav_article| %>
													<a <%= link_to fav_article.title, article_path(fav_article.id) %></a>
												<br/>
												<% end %>

											<% end %>
										</div>
									</div>
								</div>
							</div>

							<br/><br/>

							<div class="d-flex justify-content-between">
								<a class="btn sign-ttm-btn edit-profile-btn" <%= link_to "Edit Profile", edit_user_registration_path %>
								</a>

								<div class="d-flex flex-column add-user-form-container">
									<%= form_tag profile_path(params[:id]),class: "search-articles-form", :method => :get do %>
										<%= text_field_tag :email,'',class: "add-friend-textarea" %>
										<%= submit_tag "Add a friend", class: "btn add-friend-btn" %>
									<% end %>
								</div>
							</div>


						<% else %>

							<%	if @user.picture.attached? %>

								<center>
									<div class="d-flex justify-content-center profile-cards-img attached_image">
										<%= image_tag(@user.picture, class: "")  %>
									</div>
								</center>
							<% else %>
								<div class="d-flex justify-content-center">
									<%= image_tag("profile/to-the-moon-profile-cosmonaut1.png", class: "profile-cards-img", alt: "to-the-moon-profile-cosmonaut") %>
								</div>

							<% end %>

							<% if @user == nil %>
							<p> No user find with this email </p>
							<%= form_tag profile_path(params[:id]),class: "search-articles-form", :method => :get do %>
								<div class=" align-content-center articles-search-form-elements">
									<%= email_field_tag :email, "",class: "new-article-input-textarea" %>
									<%= submit_tag "Search user", class: "btn new-article-input-btn" %>
								</div>
							<% end %>
							<a class ="btn sign-ttm-btn" <%= link_to "back", :back %></a>
							<% else %>
							<h3 class="text-center profile-title">
								<%= @user.email %></p>
							</h3>

							<% unless current_user.friends.include?(@user) %>
								<% unless @user.pending_friends.include? current_user %>
									<% if current_user.pending_friends.include?(@user) %>
										<a <%= link_to "Accept friend request", friendships_path(:friend_id => @user.id), method: :post %></a>
									<% else %>
										<a id="friend-request" <%= link_to "Send friend request", friend_requests_path(:user => @user), :method => :post, :remote => true %></a>
									<% end %>
								<% else %>
									<%= "Friend request already sent" %></p>
								<% end %>
							<% else %>
							<div class="d-flex justify-content-between other-profile-btn-container">
								<% @conversations.each do |conversation| %>
								<% if conversation.interlocutor == current_user %>
								<% @conversation_id = conversation.id %>
								<% @conversation_id += 1 %>
								<% end %>
								<% end %>
								<a class="btn sign-ttm-btn profile-btn" <%= link_to "Send Message", conversation_path(:id => @conversation_id) %>
								</a>
								<a class="btn sign-ttm-btn profile-btn" <%= link_to "Unfriend", friendship_path(@friendship.id), :method => :delete %>
								</a>
							</div>
							<% end %>

							<br/>

							<p><%= "User's articles"%></p>
							<% unless @articles == nil %>
								<% @articles.each do |article| %>
									<%= link_to article.title, article_path(article.id) %><br>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
