<div class="pages-container">
	<div class="space-bg">
		<div class="news-container profile-container d-flex justify-content-center flex-column">
			<% if @user == current_user %>
				<h1 class="page-title text-center">
					Your Profile
				</h1>
			<% else %>
				<h1 class="page-title text-center">
					<% @user.email %> Profile
				</h1>
			<% end %>

			<div class="ttm-card-bg profile-card">
				<% if @user == current_user %>
					
					<p>
						<%= @user.email %>
					</p>

					<ul id="pending-friend-list">
					<% if @user.pending_friends.length > 0 %>
						<p><%= "Pending friend requests :" %></p>
						<% n = 1 %>
						<% @pending_friends.each do |pending_friend| %>
						<li>
							<%= link_to pending_friend.email, profile_path(pending_friend.id) %>  -  
							<a id="friend-request" <%= link_to "Accept friend request", friendships_path(:friend_id => pending_friend.id, :n => n), method: :post, :remote => true %></a>
								<% n += 1 %>
						</li>
						<% end %>
					<% end %>
					</ul>
					<br/><br/>
					<ul id="friend-list">
					<% if @user.friends.length > 0 %>
						<p><%= "My friends :" %></p>
						<% @friends.each do |friend| %>
						<li>
							<a <%= link_to friend.email, profile_path(friend.id) %></a> - 
						</li>
						<% end %>
					<% end %>
					</ul>

					<% unless @unread_messages == 0 %>
						<p><%= "Unread messages : " + @unread_messages.to_s %></p>
						<% @senders.each do |sender| %>
							<a <%= link_to sender, conversation_path(@user.conversations.find_by(interlocutor: User.find_by(email: sender)).id) %></a>
						<% end %>
					<% end %>

					<br/><br/>

					<% if @user.conversations.length > 0 %>
						<p><%= "Conversations with :" %></p>
						<% @user.conversations.each do |convo| %>
							<% unless convo.messages.length == 0 %>
								<a <%= link_to convo.interlocutor.email, conversation_path(convo.id) %></a>
								<br/><br/>
							<% end %>
						<% end %>
					<% end %>

					<br/><br/>
					
					<% unless @articles == nil %>
						<p><%= "My articles : "%></p>
						<% @articles.each do |article| %>
							<a <%= link_to article.title, article_path(article.id) %></a>a>
						<% end %>
					<% end %>
					
					<br/><br/>

					<% unless @favorite_articles == nil %>
						<p><%= "Favorites" %></p>
						<% @favorite_articles.each do |fav_article| %>
							<a <%= link_to fav_article.title, article_path(fav_article.id) %></a>
						<% end %>
					<% end %>

					<a class="btn sign-ttm-btn" <%= link_to "Edit Profile", edit_user_registration_path %>
					</a>

				<% else %>
					
					<p><%= @user.email %></p>

					<br/><br/>

					<% unless current_user.friends.include?(@user) %>
						<% unless @user.pending_friends.include? current_user %>
							<% if current_user.pending_friends.include?(@user) %>
								<a <%= link_to "Accept friend request", friendships_path(:friend_id => @user.id), method: :post %></a>
							<% else %>
								<a id="friend-request" <%= link_to "Send friend request", friend_requests_path(:user => @user), :method => :post, :remote => true %></a>
							<% end %>
						<% else %>
							<%= "Friend request already sent" %></p>
						<% end %>
					<% else %>
						<%= link_to "Send Message", new_message_path(:id => @user.id) %><br>
						<%= link_to "Destroy", friendship_path(@friendship.id), :method => :delete %><br>
					<% end %>

					<br/><br/>

					<%= "User's articles : "%></p>
					<% unless @articles == nil %>
						<% @articles.each do |article| %>
							<%= link_to article.title, article_path(article.id) %><br>
						<% end %>
					<% end %>

				<% end %>
			</div>
		</div>
	</div>
</div>