
<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">
			<div class="d-flex justify-content-center">
	      		<div class="profile-card-container d-flex justify-content-center">
					<div class="">
						<% if @user == current_user %>
				    	<%	if current_user.picture.attached? %>
								<div class="d-flex justify-content-center">
									<%= image_tag(current_user.picture, class: "profile-cards-img")  %>
								</div>
							<% else %>
								<div class="d-flex justify-content-center">
									<%= image_tag("profile/to-the-moon-profile-cosmonaut.png", class: "profile-cards-img", alt: "to-the-moon-profile-cosmonaut") %>
								</div>
							<% end %>

							<%= form_tag url_for(action: "update"), method: "put", multipart: true do %>
									<%= file_field_tag :picture, class: "image-upload-container" %>

								<div class="actions d-flex justify-content-center">
									<%= submit_tag "add picture", class: "btn sign-ttm-btn" %>
								</div>
							<% end %>

							<h3 class="text-center profile-title">
								<%= @user.email %>
							</h3>

							<ul id="pending-friend-list">
							<% if @user.pending_friends.length > 0 %>
								<p><%= "Pending friend requests :" %></p>
								<% n = 1 %>
								<% @pending_friends.each do |pending_friend| %>
								<li>
									<%= link_to pending_friend.email, profile_path(pending_friend.id) %>  -
									<a id="friend-request" <%= link_to "Accept friend request", friendships_path(:friend_id => pending_friend.id, :n => n), method: :post, :remote => true %></a>
										<% n += 1 %>
								</li>
								<% end %>
							<% end %>
							</ul>
							<br/>

							<div class="d-flex justify-content-between profile-friends-conv-container">
								<ul id="friend-list">
								<% if @user.friends.length > 0 %>
									<p><%= "My friends" %></p>
									<% @friends.each do |friend| %>
									<li>
										<a <%= link_to friend.email, profile_path(friend.id) %></a>
									</li>
									<% end %>
								<% end %>
							<div class="cryptolist-search-container d-flex justify-content-end">
								<%= form_tag profile_path(params[:id]),class: "search-articles-form", :method => :get do %>

										<%= text_field_tag :email,'',class: "search-cryptolist-input-textarea" %>
										<%= submit_tag "Search user", class: "btn new-article-input-btn" %>

								<% end %>
							</div>

								</ul>



								<br/>

								<% if @user.conversations.length > 0 %>
									<div class="profile-conversations">
										<p><%= "Conversations:" %></p>
										<% @user.conversations.each do |convo| %>
											<% unless convo.messages.length == 0 %>
												<a <%= link_to convo.interlocutor.email, conversation_path(convo.id) %> </a>
												<% if convo.messages.last.has_been_read == false %>
													<% @n = 0 %>
													<% convo.messages.each do |message| %>
														<% if message.has_been_read == false %>
															<% @n = @n + 1 %>
														<% end %>
													<% end %>
												<% end %>
												<%= @n %>
												<br/><br/>
											<% end %>
										<% end %>
									</div>
								<% end %>

							</div>


							<br/>

							<div class="d-flex justify-content-between profile-friends-conv-container">
								<div class="">
									<% unless @articles == nil %>
										<p><%= "My articles"%></p>
										<% @articles.each do |article| %>
											<a <%= link_to article.title, article_path(article.id) %></a>
										<% end %>
									<% end %>
								</div>

								<br/>

								<div class="profile-favorites">
									<% unless @favorite_articles == nil %>
										<p><%= "My favorites" %></p>
										<% @favorite_articles.each do |fav_article| %>
											<a <%= link_to fav_article.title, article_path(fav_article.id) %></a>
										<% end %>
									<% end %>
								</div>
							</div>

							<div class="d-flex justify-content-center">
								<a class="btn sign-ttm-btn" <%= link_to "Edit Profile", edit_user_registration_path %>
								</a>
							</div>

						<% else %>

							<div class="d-flex justify-content-center">
								<%= image_tag("profile/to-the-moon-profile-cosmonaut.png", class: "profile-cards-img", alt: "to-the-moon-profile-cosmonaut") %>
							</div>
							<% if @user == nil %>
							<p> No user find with this email </p>
							<%= form_tag profile_path(params[:id]),class: "search-articles-form", :method => :get do %>
								<div class=" align-content-center articles-search-form-elements">
									<%= email_field_tag :email, "",class: "new-article-input-textarea" %>
									<%= submit_tag "Search user", class: "btn new-article-input-btn" %>
								</div>
							<% end %>
							<a class ="btn sign-ttm-btn" <%= link_to "back", :back %></a>
							<% else %>
							<h3 class="text-center profile-title">
								<%= @user.email %></p>
							</h3>

							<% unless current_user.friends.include?(@user) %>
								<% unless @user.pending_friends.include? current_user %>
									<% if current_user.pending_friends.include?(@user) %>
										<a <%= link_to "Accept friend request", friendships_path(:friend_id => @user.id), method: :post %></a>
									<% else %>
										<a id="friend-request" <%= link_to "Send friend request", friend_requests_path(:user => @user), :method => :post, :remote => true %></a>
									<% end %>
								<% else %>
									<%= "Friend request already sent" %></p>
								<% end %>
							<% else %>
							<div class="d-flex justify-content-between other-profile-btn-container">
								<% @conversations.each do |conversation| %>
								<% if conversation.interlocutor == current_user %>
								<% @conversation_id = conversation.id %>
								<% end %>
								<% end %>
								<a class="btn sign-ttm-btn profile-btn" <%= link_to "Send Message", conversation_path(:id => @conversation_id) %>
								</a>
								<a class="btn sign-ttm-btn profile-btn" <%= link_to "Unfriend", friendship_path(@friendship.id), :method => :delete %>
								</a>
							</div>
							<% end %>

							<br/>

							<p><%= "User's articles"%></p>
							<% unless @articles == nil %>
								<% @articles.each do |article| %>
									<%= link_to article.title, article_path(article.id) %><br>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
