<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">
    		<h1 class="page-title text-center">
    			Articles
    		</h1>

			<div class="d-flex justify-content-between align-items-center articles-page-tools">
				<a class="btn new-articles-ttm-btn"
					<%= link_to "New article", new_article_path %>
				</a>

				<%= @hello %>
				<%= form_tag articles_path,class: "search-articles-form", :method => :get do %>
					<div class="d-flex justify-content-center align-content-center articles-search-form-elements">
						<%= text_field_tag 'content', "",class: "new-article-input-textarea" %>
						<%= submit_tag "Search article", class: "btn new-article-input-btn" %>
					</div>
				<% end %>
			</div>

			<div class="card-columns">
				<% unless @articles == nil %>
					<% @articles.each do |article| %>
						<div class="card ttm-card-bg article-cards">
							<h3 class="article-card-title">
								<%= link_to article.title, article_path(article.id) %>
							</h3>

							<% if article.picture.attached? %>
								<div class="article-card-img-container">
									<%= image_tag(article.picture, class: "article-show-img") %>
								</div>
							<% else %>
								<hr class="articles-card-hr">
							<% end %>

							<div class="article-card-bottom">
								<p>Author :</p>
								<p class="article-card-text"><%= link_to article.user.email, profile_path(article.user.id) %></p>
								<p class="article-card-text"><%= article.tag.name %></p>
							  <% if current_user %>
								 <%  @test = current_user.likes.find_by(article: article) %>
									<% unless current_user.likes.find_by(article: article) %>
										<% if article.likes.length == 0 %>
											<%= link_to "Like : 0", likes_path(:article => article.id), :method => :post %><br>
										<% else %>
											<%= link_to "Likes : #{article.likes.length}", likes_path( :article => article.id), :method => :post %><br>
										<% end %>
									<% else %>
										<%= link_to "Unlike : #{article.likes.length}", like_path(:id => @test.id, :comment => article), :method => :delete %><br>
									<% end %>
								<% end %>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
