<p>
  <%= image_tag(@article.picture, width: 200) if @article.picture.attached? %>
</p>
<%= @article.title %><br>
<%= @article.content %><br>
<%= link_to @article.user.email, profile_path(@article.user) %><br>
<%= @tag.name %><br>
<% if @article.likes == nil %>
	<%= "Like : 0" %><br>
<% else %>
	<%= "Likes : " + @article.likes.length.to_s %><br>
<% end %>
<% unless current_user.likes.find_by(article: @article) %>
	<%= link_to "Like", likes_path(:article => @article.id), :method => :post %><br>
<% else %>
	<%= link_to "Unlike", like_path(:article => @article.id), :method => :delete %><br>
<% end %>
<% if current_user == @user %>
	<%= link_to "Edit article", edit_article_path(@article.id) %><br>
	<%= link_to "Delete article", article_path, :method => :delete %> 
<% end %>
<br/><br/>

<% unless @comments == nil %>
	<% @comments.each do |comment| %>
		<%= comment.content %><br>
		<%= comment.user.email %><br>
		<%= comment.created_at %><br>
		<% if comment.likes == nil %>
			<%= "Like : 0" %><br>
		<% else %>
			<%= "Likes : " + comment.likes.length.to_s %><br>
		<% end %>
		<% unless current_user.likes.find_by(comment: comment) %>
			<%= link_to "Like", likes_path(:comment => comment.id, :article => @article.id), :method => :post %><br>
		<% else %>
			<%= link_to "Unlike", like_path(:comment => comment.id, :article => @article.id), :method => :delete %><br>
		<% end %>
		<% if current_user == comment.user %>
			<%= link_to "Edit comment", edit_comment_path(comment.id) %><br>
			<%= link_to "Delete comment", comment_path(comment.id), :method => :delete %> 
		<% end %>
		<br><br>
	<% end %>
<% end %>
<% unless current_user == nil %>
	<%= form_tag comments_path, method: "post" do %>
	  <%= text_field_tag 'content' %><br>
	  <%= hidden_field_tag "article", @article.id %>
	  <%= submit_tag "Comment" %>
	<% end %>
<% end %>

