<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">
			<div class="ttm-card-bg article-cards">
				  <%= image_tag(@article.picture, width: 200) if @article.picture.attached? %>
				<h3><%= @article.title %></h3>
				<hr class="articles-card-hr" align="left">
				<p class="article-user"><%= link_to @article.user.email, profile_path(@article.user) %></p>
				<p class=""><%= @article.content %></p>
				<div class="d-flex tags-container">
					<p class="tags"><%= @tag.name %></p>
				</div>
				<% if current_user == @user %>
					<%= link_to "Edit article", edit_article_path(@article.id) %><br>
					<%= link_to "Delete article", article_path, :method => :delete %> 
				<% end %>
				<br/><br/>

				
				<% end %>
			</div>
		</div>
	</div>
</div>

