<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">
			<div class="ttm-card-bg article-cards d-flex justify-content-between article-show-container">
				<div class="article-show-comment-container">
					<div class="article-show-card-container">
						<h3><%= @article.title %></h3>
						<hr class="articles-show-card-hr" align="left">
						<p class="article-user"><%= link_to @article.user.email, profile_path(@article.user) %></p>
						<p class=""><%= @article.content %></p>
						<div class="d-flex tags-container">
							<p class="tags"><%= @tag.name %></p>
						</div>
						<% if current_user%>

						<div class="d-flex">
							<div class="likes-container-container">
								<% @test = current_user.likes.find_by(article: @article) %>
								<% unless @test %>
									<% if @article.likes.length == 0 %>
										<%= link_to likes_path(:article => @article.id), :method => :post do %>
											<div class="d-flex likes-container">
											<%= image_tag "Like.png", class: "like-icon" %>
												<p class="likes-number"> 0 </p>
											</div>
										<% end %>
										<br>
									<% else %>
										<%= link_to likes_path(:article => @article.id), :method => :post do %>
											<div class="d-flex likes-container">
											<%= image_tag "Liked.png", class: "like-icon" %>
												<p class="likes-number"> <%= @test%> </p>
											</div>
										<% end %>
										<br>
									<% end %>
								<% else %>
									<%= link_to like_path(:article => @article.id) ,:method => :delete do   %>
										<div class="d-flex likes-container">
										<%= image_tag "Liked.png", class: "like-icon" %>
											<p class="likes-number"> <%= @test%> </p>
										</div>
									<% end %>
									<br>
								<% end %>
							</div>

							<div>
								<div id="favorite">
											<% unless current_user.favorite_articles.include? @article %>
													<a id="add"
														<%= link_to "OO", favorites_path(:article => @article.id), :method => :post, remote: true %>

														<%= image_tag "not-favorite.png", class: "like-icon favorite-icon" %>
														
													<a><br>
											<% else %>
													<a id="withdraw"<%= link_to "OO", favorite_path(:article => @article.id), :method => :delete, remote: true %>
														
														<%= image_tag "favorite.png", class: "like-icon favorite-icon" %>
														
													<a>
													<br>
											<% end %>
										</div>


									<% if current_user == @user %>
										<div class="article-btn-container">
											<a class="btn ttm-btn comment-btn your-article-btn"
												<%= link_to "Edit article", edit_article_path(@article.id) %>
											</a>
											<a class="btn ttm-btn comment-btn your-article-btn"
												<%= link_to "Delete article", article_path, :method => :delete %>
											</a>
										</div>
									<% end %>

								</div>
							</div>
						</div>

						<div class="post-comment-form-container">

							<%= form_tag comments_path, method: "post", class: "d-flex align-items-end" do %>
								<%= text_area_tag 'content','',class: "post-comment-text-area" %>
								<%= hidden_field_tag "article", @article.id %>
							  	<%= submit_tag "Comment", class: "btn sign-ttm-btn post-comment-btn" %>
							<% end %>
						</div>

					<% end %>
					<% if current_user %>
						<% unless @comments == nil %>
							<% @comments.each do |comment| %>
								<div class="comment-container">
									<div class="d-flex">
										<p class="comment-user"><%= comment.user.email %></p><p class="comment-date"><%= comment.created_at %>
									</div>
									<hr class="comment-hr" align="left">
									<p class="comment-content"><%= comment.content %></p>

									<div class="comment-likes-container">
										<% unless current_user.likes.find_by(comment: comment) %>
											<% if comment.likes.length == 0 %>
												<%= link_to likes_path(:comment => comment.id, :article => @article.id), :method => :post do %>
												<div class="d-flex likes-container">
													<%= image_tag "Like.png", class: "like-icon" %>
													<p class="likes-number"> 0 </p>
												</div>
												<% end %>
												<br>
											<% else %>
												<%= link_to likes_path(:comment => comment.id, :article => @article.id), :method => :post do %>
												<div class="d-flex likes-container">
													<%= image_tag "Liked.png", class: "like-icon" %>
													<p class="likes-number"> <%= comment.likes.length%> </p>
												</div>
												<% end %>
												<br>
											<% end %>
										<% else %>
											<%= link_to like_path(:comment => comment.id, :article => @article.id) ,:method => :delete do   %>
											<div class="d-flex likes-container">
												<%= image_tag "Liked.png", class: "like-icon" %>
												<p class="likes-number"> <%= comment.likes.length%> </p>
											</div>
											<% end %>
											<br>
										<% end %>
									</div>
									<% if current_user == comment.user %>
										<div class="comment-btn-container">
											<a class="btn ttm-btn comment-btn"
												<%= link_to "Edit comment", edit_comment_path(comment.id) %>
											</a>
											<a class="btn ttm-btn comment-btn"
												<%= link_to "Delete comment", comment_path(comment.id), :method => :delete %>
											</a>
										</div>
									<% end %>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<div class="article-show-img-container">
					<%= image_tag(@article.picture, class: "article-show-img") if @article.picture.attached? %>
				</div>
			</div>
		</div>
	</div>
</div>
