<div class="pages-container">
	<div class="space-bg">
		<div class="news-container">
			<h1 class="page-title text-center">
				<%= Conversation %>
			</h1>
			<div class="d-flex justify-content-center">
				<div class="ttm-card-bg conv-card">
					<div class="form">
						<%= form_tag(messages_path, method: :post, class: "form", remote: true) do %>
								<label for="content">New Message<br>
							  <%= text_area_tag 'content',"", class: "post-comment-text-area" %><br>
							  <%= hidden_field_tag "recipient", @conversation.interlocutor.id %>
								<%= hidden_field_tag "id", @conversation.id %>
							  <%= submit_tag "Send Message",class: "btn sign-ttm-btn send-msg-btn", :name => 'commit' %>
						<% end %>
					</div>
					<ul id="message-list">
						<div class="d-flex flex-column">
							<% @messages.reverse.each do |message| %>
									<% if message.sender.email == current_user.email %>
										<div class="conv-msg-container-you">
											<li class="conv-msg-text conv-list">
												<p class="conv-msg-text conv-sender">
													You
												</p>
												<br>
												<p class="conv-msg-text">
													<%= message.content %>
												</p>
											</li>
										</div>
									<% else %>
										<div class="align-self-end conv-msg-container">
											<li class="conv-msg-text conv-list">
												<p class="conv-msg-text conv-sender">
													<%= message.sender.email %>
												</p>
												<br>
												<p class="conv-msg-text">
													<%= message.content %>
												</p>
											</li>
										</div>
									<% end %>
								<br/><br/>
							<% end %>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
