<%= render "global" %>

<% @coin_list = api_request('https://api.coinlore.com/api/tickers/')%>
<% @n = 0 %>
<%= render "coinlist" %>

<a class="btn-sm btn-secondary" > 1 </a>
<a class="btn btn-secondary"<%= link_to "2", cryptolist_path(100) %> </a>
<a class="btn btn-secondary"<%= link_to "3", cryptolist_path(200) %> </a>
<a class="btn btn-secondary"<%= link_to "4", cryptolist_path(300) %> </a>
<a class="btn btn-secondary"<%= link_to "5", cryptolist_path(400) %> </a>

<br/>
<br/>
