<div class="pages-container">
  <div class="space-bg">
    <div class="d-flex justify-content-center align-items-center sign-card-container">
      <div class="sign-card d-flex justify-content-center">
        <%= image_tag("sign-up-in-password/Sign Window.png", class: "sign-in-card-img sign-card-img", alt: "to-the-moon-homepage-presentation-telescope") %>
        <%= form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin mt-3" } do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group pw-reset-email-form">
          <%= f.label :email, "Email" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="d-flex justify-content-center">
          <%= f.submit "Send password reset Email", class: "btn pw-reset-ttm-btn
          " %>
        </div>
      <% end %>
     </div>
    </div>
  </div>
</div>
