<header>
  <script src="https://kit.fontawesome.com/068a9d7e61.js"></script>
</header>

<% if @coin_list != nil %>

<table class="table ttm-card-light-bg cryptolist-table">
  <thead>
    <tr class="text-dark">
      <h1><th scope="col" class="logo-name-container cryptolist-rank-container">rank</th>
      <th scope="col" class="logo-name-container">Symbol</th>
      <th scope="col" class="logo-name-container">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Marketcap</th>
    <th scope="col"> 1h Change </th>
      <th scope="col"> 24h Change </th>
    <th scope="col"> 7 day Change </th></h1>
    <th scope ="col"> Add to portfolio  </th>
    <th scope ="col"> 7 day chart  </th>
    </tr>
  </thead>




  <% n = 0 %>
  <% if @coin_list.length != 1 %>
  <% @coin_list["data"].each do |coin| %>
  <% @crypto_name = coin["name"] %>
  <% symbol = coin_symbol_helper_check(coin['symbol']) %>
  <% n += 1 %>
  <% @n += 1 %>
  <tbody>

    <tr>
      <th scope="row" class="cryptolist-th logo-name-container cryptolist-rank-container"><%= @n %></th>

      <td class="logo-name-container cryptolist-logo-container"><img class ="cryptolist-logo" alt ="x" <%= image_tag("https://chasing-coins.com/coin/logo/#{symbol}")  %> </td>

      <td class="logo-name-container cryptolist-td cryptolist-name-container"><h1 class="cryptolist-name"><%= link_to coin["name"], crypto_currency_path(symbol: coin["symbol"],id: coin["id"],name: coin["name"]) %>(<%= coin["symbol"]%>)</h1></td>

      <td class="text-dark cryptolist-td cryptolist-values"><strong> $ <%= coin['price_usd'] %></strong></td>

      <td class=" cryptolist-td cryptolist-values"><%= number_to_currency(coin['market_cap_usd'], precision: 0, delimiter: " ") %></td>

      <% if coin["percent_change_1h"].to_f > 0 %>
         <td class="green cryptolist-td cryptolist-values" ><%= coin["percent_change_1h"]%>% <i class="fas fa-caret-up"></i></td>
      <% else %>
       <td class="red cryptolist-td cryptolist-values" ><%= coin["percent_change_1h"]%>% <i class="fas fa-caret-down" ></i></td>
        <%end%>

      <% if coin["percent_change_24h"].to_f > 0 %>
       <td class="green cryptolist-td cryptolist-values" ><%= coin["percent_change_24h"]%>% <i class="fas fa-caret-up"></i></td>
      <% else %>
       <td class="red cryptolist-td cryptolist-values" ><%= coin["percent_change_24h"]%>% <i class="fas fa-caret-down"></i></td>
      <%end%>

      <% if coin["percent_change_7d"].to_f > 0 %>
       <td class="green cryptolist-td cryptolist-values" ><%= coin["percent_change_7d"]%>% <i class="fas fa-caret-up"></i></td>
      <% else %>
       <td class="red cryptolist-td cryptolist-values" ><%= coin["percent_change_7d"]%>% <i class="fas fa-caret-down"></i></td>
      <% end%>


      <% coin_name = coin["symbol"].downcase +  "-" + coin["name"].downcase.gsub(/\s+/, "-") %>
      <%    coin_name = coin_name_chart_helper_check(coin_name) %>
      <td class="cryptolist-td cryptolist-add-container d-flex align-items-center">
        <% checker = [] %>
        <% if @coin_tab %>
          <% @coin_tab.each do |crypto| %>
            <% if crypto.crypto_id != coin["id"] %>
              <% checker << false %>
            <% else %>
              <% checker << true %>
            <% end %>
          <% end %>
          <% unless checker.include?(true) %>
            <a class="btn sign-ttm-btn cryptolist-add-ttm-btn"

            <%= link_to "Add to portfolio", new_user_crypto_path(:name => @crypto_name, :id => coin["id"], :n => @n), :remote => true %></a>

          <% else %>
            <%= "Already in portfolio" %>
          <% end %>
        <% else %>
          <a class="btn sign-ttm-btn cryptolist-add-ttm-btn"

            <%= link_to "Add to portfolio", new_user_crypto_path(:name => @crypto_name, :id => coin["id"], :n => @n), remote: true %></a>

        <% end %>

        </a>
      </td>
      <td class="cryptolist-td"> <%= image_tag("https://graphs2.coinpaprika.com/currency/chart/#{coin_name}/7d/chart.svg")  %></td>
      <div id="pop-up"></div>
  </tbody>
<% end %>
<% end %>
<% end %>


<% if @check_if_research_nil == true %>

<br/>
<div class="ttm-card-bg">
<br/>
<p> No result for this request </p>
</div>
<% end %>

<% if @coin_list != nil %>
<% if @coin_list.length == 1 %>


<% @coin_list.each do |coin| %>
<% @crypto_name = coin["name"] %>
  <% symbol = coin["symbol"] %>


<tbody>

  <tr>
    <th scope="row" class="cryptolist-th logo-name-container cryptolist-rank-container"><%= coin["rank"] %></th>

    <td class="logo-name-container cryptolist-logo-container"><img class ="cryptolist-logo" alt ="x" <%= image_tag("https://chasing-coins.com/coin/logo/#{symbol}")  %> </td>

    <td class="logo-name-container cryptolist-td cryptolist-name-container"><h1 class="cryptolist-name"><%= link_to coin["name"], crypto_currency_path(symbol: coin["symbol"],id: coin["id"],name: coin["name"]) %></h1></td>

    <td class="text-dark cryptolist-td cryptolist-values"><strong> $ <%= coin['price_usd'] %></strong></td>

    <td class=" cryptolist-td cryptolist-values"><%= number_to_currency(coin['market_cap_usd'], precision: 0, delimiter: " ") %></td>

    <% if coin["percent_change_1h"].to_f > 0 %>
       <td class="green cryptolist-td cryptolist-values" ><%= coin["percent_change_1h"]%>% <i class="fas fa-caret-up"></i></td>
    <% else %>
     <td class="red cryptolist-td cryptolist-values" ><%= coin["percent_change_1h"]%>% <i class="fas fa-caret-down" ></i></td>
      <%end%>

    <% if coin["percent_change_24h"].to_f > 0 %>
     <td class="green cryptolist-td cryptolist-values" ><%= coin["percent_change_24h"]%>% <i class="fas fa-caret-up"></i></td>
    <% else %>
     <td class="red cryptolist-td cryptolist-values" ><%= coin["percent_change_24h"]%>% <i class="fas fa-caret-down"></i></td>
    <%end%>

    <% if coin["percent_change_7d"].to_f > 0 %>
     <td class="green cryptolist-td cryptolist-values" ><%= coin["percent_change_7d"]%>% <i class="fas fa-caret-up"></i></td>
    <% else %>
     <td class="red cryptolist-td cryptolist-values" ><%= coin["percent_change_7d"]%>% <i class="fas fa-caret-down"></i></td>
    <% end%>


    <% coin_name = coin["symbol"].downcase +  "-" + coin["name"].downcase.gsub(/\s+/, "-") %>
    <%    coin_name = coin_name_chart_helper_check(coin_name) %>
    <td class="cryptolist-td cryptolist-add-container d-flex align-items-center">
      <% checker = [] %>
      <% if @coin_tab %>
        <% @coin_tab.each do |crypto| %>
          <% if crypto.crypto_id != coin["id"] %>
            <% checker << false %>
          <% else %>
            <% checker << true %>
          <% end %>
        <% end %>
        <% unless checker.include?(true) %>
          <a class="btn sign-ttm-btn cryptolist-add-ttm-btn"

          <%= link_to "Add to portfolio", new_user_crypto_path(:name => @crypto_name, :id => coin["id"], :n => @n), :remote => true %></a>

        <% else %>
          <%= "Already in portfolio" %>
        <% end %>
      <% else %>
        <a class="btn sign-ttm-btn cryptolist-add-ttm-btn"

          <%= link_to "Add to portfolio", new_user_crypto_path(:name => @crypto_name, :id => coin["id"], :n => @n), remote: true %></a>

      <% end %>

      </a>
    </td>
    <td class="cryptolist-td"> <%= image_tag("https://graphs2.coinpaprika.com/currency/chart/#{coin_name}/7d/chart.svg")  %></td>


<% end %>

<% end %>
<% end %>
<div id="pop-up"></div>
</tbody>
</table>