<!doctype html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <title>To the Moon</title>
  </head>
  <body >

<div class="moon" style ='height: 1000px' >
  <br/>
  <br/>
  <br/>
  <br/>
  <center><div class="container text-dark "><h1>The best crypto portfolio tracker does the work for you.</h1></div></center>
  <br>
  <br>
  <br>
<center>



    </center>
</div>
<% coin_list = api_request('https://api.coinlore.com/api/tickers/')%>
<% coin_list["data"].each do |coin| %>
<div class="card text-dark p-3 ">
<h1> <%= coin['rank'] %> </h1>
 <h1><img  class ="logo" src="https://chasing-coins.com/coin/logo/<%= coin['symbol'] %>" alt="logo" >
<h1> <%= coin['symbol'] %> </h1>
<h1> <%= coin['name'] %> </h1>
<h1> $ <%= coin['price_usd'] %>  </h1>
<%= link_to coin["name"], crypto_path(coin["name"]) %>

</div>
<% end %>
