<!doctype html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>To the Moon</title>
</head>
<body>

  <div class="pages-container">
    <div class="space-bg">

      <div class="index-jumbotron">
        <div class="index-jumbotron-title">
          <h1 class="index-jumbotron-title-small">The most accessible</h1>
          <h1 class="index-jumbotron-title-big"><b>cryptocurrency toolkit</b></h1>
          <h1 class="index-jumbotron-title-small">in the universe</h1>
        </div>
        <%= image_tag("home/to-the-moon-index-main.png", class: "index-jumbotron-img", alt: "to-the-moon-homepage-main") %>
      </div>

      <div class="index-two-cards d-flex justify-content-center">
        <div class="index-cards-container-row">

          <div class="d-flex index-cards-container justify-content-center">
            <%= image_tag("home/To-the-Moon-homepage-Presentation.png", class: "index-cards-img", alt: "to-the-moon-homepage-presentation-telescope") %>

            <div class="ttm-card-bg index-card">
              <h2 class="index-card-title">Prepare your ride !</h2>

              <hr align="left" class="index-card-hr">

              <p class="index-card-text-bold">
              Follow your investments, invest fake coins to test your skills,
              </br>
              keep up-to-date and share it all with friends !
              </p>

              <p class="index-card-text">
              Our platform is designed as a tool-kit for cryptocurrencies investors who wants to get more knowledgeable on the crypto-market.
              </br>
              To the moon show you real-time prices from the 300 most promising cryptos projects, allows you to make previsions, gives you latest news, set up alerts on targeted cryptos prices and provides basic tools like exchanges prices and conversion.
              </p>

              <div class="d-flex">
                <% unless current_user %>
                  <%= link_to '/users/sign_up' do %>
                    <div class="ttm-btn">Sign Up</div>
                  <% end %>
                <% end %>
                <%= link_to '/static_pages/about' do %>
                  <div class="ttm-btn">About Us</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="index-cards-container-row-alt">

          <div class="d-flex index-cards-container-alt justify-content-center">
            <%= image_tag("home/To-the-Moon-homepage-Portfolio.png", class: "index-cards-img", alt: "to-the-moon-homepage-presentation-telescope") %>

            <div class="ttm-card-bg index-card">
              <h2 class="index-card-title">To the Moon Portfolio</h2>

              <hr align="left" class="index-card-hr">

              <p class="index-card-text-p">
              Here you will be able to follow evolution of targeted cryptos, visualise your portfolio evolution in real time, find articles, make predictions, and much more !
              In short, the main tools are:
              </p>

              <p class="index-card-text-bold-p index-card-text-bold-n">
              - Real time price for more thant 2 500 Cryptos.</br>
              - Chart evolution</br>
              - Currency converter</br>
              - Market cap
              </p>

              <div class="d-flex">
              <% if current_user %>
                <%= link_to '/user_cryptos' do %>
                  <div class="ttm-btn">Portfolio</div>
                <% end %>
              <% end %>
            </div>
            </div>
          </div>
        </div>

      <div class="index-two-cards d-flex justify-content-center">
        <div class="index-cards-container-row">

          <div class="d-flex index-cards-container justify-content-center">
            <%= image_tag("home/To-the-Moon-homepage-News.png", class: "index-cards-img", alt: "to-the-moon-homepage-presentation-telescope") %>

            <div class="ttm-card-bg index-card">
              <h2 class="index-card-title">Our news feed</h2>

              <hr align="left" class="index-card-hr">

              <p class="index-card-text-bold-n">
              Find latest news on the crypto market, introduction of new Cryptos, and all other Crypto-related news.
              You'll also be able to target news based on your portfolio of Crypto currencies.
              </p>

              <div class="d-flex">
                <%= link_to '/news' do %>
                  <div class="ttm-btn">News</div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="index-cards-container-row-alt">

          <div class="d-flex index-cards-container-alt justify-content-center">
            <%= image_tag("home/To-the-Moon-homepage-Articles.png", class: "index-cards-img", alt: "to-the-moon-homepage-presentation-telescope") %>

            <div class="ttm-card-bg index-card">
              <h2 class="index-card-title">The community articles</h2>

              <hr align="left" class="index-card-hr">

              <p class="index-card-text-bold">
              Everyone can post its analysis on cryptos, the market in general, and engage into more specific talks.
              </p>

              <p class="index-card-text">
              This section is a real asset for your understanding of distributed ledger technology and the evolution of the Crypto world.
              </p>

              <div class="d-flex">
                <%= link_to '/articles' do %>
                  <div class="ttm-btn">Articles</div>
                <% end %>
              </div>
            </div>


          </div>
        </div>

      <div class="index-two-cards d-flex justify-content-center">
        <div class="index-cards-container-row">

          <div class="d-flex index-cards-container justify-content-center">
            <%= image_tag("home/To-the-Moon-homepage-Comunity.png", class: "index-cards-img", alt: "to-the-moon-homepage-presentation-telescope") %>

            <div class="ttm-card-bg index-card">
              <h2 class="index-card-title">Social interractions in space</h2>

              <hr align="left" class="index-card-hr">

              <p class="index-card-text-bold-n">
              Here you are, like the kitchen in a house, this section is probably the most interesting one in the app because it allows you to interract with your peers, engage in talks on specific subjects or learn new previsions and strategies.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
