<div class="update-crypto-number-container-container">
  	<div class="update-crypto-number-container d-flex align-items-center justify-content-center">
   		<div class="update-crypto-number-card ttm-card-bg">
    		<div class="update-crypto-number-form">
				<%= if @crypto_currency && if current_user %>
		  			<%= form_tag user_cryptos_path, method: "post", multipart: true do %>
		    			<div class="form-group">
			     			<%= label_tag 'Choose quantity' %><br/>
			      			<%= text_field_tag 'quantity'%>
		      				<%= hidden_field_tag 'user', current_user %>
		     				<%= hidden_field_tag 'crypto', @crypto_currency %>
		    				</div>
		  				<%= submit_tag "Update quantity", class: "btn btn-lg btn-secondary btn-block" %>
		  			<% end %>
				<% end %>
			</div>
    	</div>
  	</div>
</div>