  <div class="pages-container">
    <div class="space-bg">
      <div class="news-container">
        <h1 class="page-title text-center">
          Portfolio
        </h1>
        <table class="table ttm-card-bg">
          <thead>
            <tr class="text-dark">
              <th scope="col">rank</th>
              <th scope="col">Symbol</th>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity</th>
              <th scope="col"> Total </th>
              <th scope="col"> 1h Change </th>
              <th scope="col"> 24h Change </th>
              <th scope="col"> 7 day Change </th>
              <th scope ="col"> 7 day chart </th>
              <th scope ="col"></th>
            </tr>
          </thead>
            <% n = 0 %>
            <% @total = 0 %>
            <% @total_coin = 0 %>
            <% crypto_currency = @crypto_currency %>
            <% @cryptos.each do |crypto| %>

            <tbody>
              <tr>
                <td class="text-dark"><%= @coin[n][0]['rank']%></td>
                <% symbol = coin_symbol_helper_check(@coin[n][0]['symbol']) %>
                <td> <img  class ="cryptolist-logo " alt ="x" <%= image_tag("https://chasing-coins.com/coin/logo/#{symbol}")  %>  </td>
                <td><%= link_to crypto.name, crypto_currency_path(crypto.crypto_id) %><br> </td>
                <% price = @coin[n][0]['price_usd'] %>
                <% if price.to_f > 500 %>
                <td>  <%= number_to_currency(price, precision: 0, delimiter: " ") %>  </td>
                <% elsif price.to_f < 0.01 %>
                <td>  <%= number_to_currency(price, precision: 4, delimiter: " ") %>  </td>
                <% else %>
                <td>  <%= number_to_currency(price, precision: 2, delimiter: " ") %>  </td>
                <% end %>
                <td>
                <%= form_tag user_crypto_path(crypto.crypto_id),:method => :put do %>
                <%= text_field_tag 'quantity', crypto_currency[n].quantity.to_s%>
                                  <%= submit_tag "Update" %>
                  <% end %>
                </td>
                <% if crypto_currency[n].quantity != nil %>
                  <td>  <% @total_coin = (price.to_f * crypto_currency[n].quantity) %>
                  <%= number_to_currency(@total_coin, precision: 0, delimiter: " ") %></td>
                <% end %>
                <% if @coin[n][0]["percent_change_1h"].to_f > 0 %>
                   <td class="green" ><%= @coin[n][0]["percent_change_1h"]%>% <i class="fas fa-caret-up"></i></td>
                <% else %>
                 <td class="red" ><%= @coin[n][0]["percent_change_1h"]%>% <i class="fas fa-caret-down" ></i></td>
                  <%end%>
                <% if @coin[n][0]["percent_change_24h"].to_f > 0 %>
                 <td class="green" ><%= @coin[n][0]["percent_change_24h"]%>% <i class="fas fa-caret-up"></i></td>
                <% else %>
                 <td class="red" ><%= @coin[n][0]["percent_change_24h"]%>% <i class="fas fa-caret-down"></i></td>
                <%end%>
                <% if @coin[n][0]["percent_change_7d"].to_f > 0 %>
                 <td class="green" ><%= @coin[n][0]["percent_change_7d"]%>% <i class="fas fa-caret-up"></i></td>
                <% else %>
                 <td class="red" ><%= @coin[n][0]["percent_change_7d"]%>% <i class="fas fa-caret-down"></i></td>
                <%end%>
                <% coin_name = @coin[n][0]["symbol"].downcase +  "-" + @coin[n][0]["name"].downcase.gsub(/\s+/, "-") %>
                <% coin_name = coin_name_chart_helper_check(coin_name) %>

                <td class=> <%= image_tag("https://graphs2.coinpaprika.com/currency/chart/#{coin_name}/7d/chart.svg") %></td>
                <td> 	<%= link_to "x", user_crypto_path(crypto_currency[n].id), :method => :delete,data: { confirm: 'Are you sure to delete '+crypto.name+ " to your portfolio?"} %></td>
              </tr>
            </tbody>

            <% n = n+1 %>
            <% @total += @total_coin %>
          <% end %>
          </table>
            <center>  <h1> TOTAL:     <%= number_to_currency((@total) , precision: 0, delimiter: " ") %> </h1> </center>
      </div>
    </div>
  </div>


  
