
<!DOCTYPE html>
<html>
  <head>
    <title>To The Moon</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/068a9d7e61.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('To-the-Moon.ico') %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </head>


  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="nav-logo-container d-flex justify-content-center align-items-center">
        <%= link_to(image_tag("to-the-moon-header.png", :size => '145x80', class: "nav-logo"), root_path)%>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <div class="d-flex justify-content-between navbar-links-btn">

          <div class="nav-null">
          </div>

          <ul class="navbar-nav mr-auto">
            <li class="nav-perso">
                  <a  role="button" class="myButtonsimple header-portfolio-link"<%= link_to "Portfolio", user_cryptos_path%> </a>
            </li>
            <li class="nav-perso">
                  <a  role="button" class="myButtonsimple"<%= link_to "Cryptocurrencies", cryptolist_path(0)%></a>
            </li>
            <li class="nav-perso">
                  <a  role="button" class="myButtonsimple"<%= link_to "News", news_index_path %> </a>
            </li>
            <li class="nav-perso">
                  <a  role="button" class="myButtonsimple"<%= link_to "Articles", articles_path%> </a>
            </li>
            <li class="nav-perso">
                  <a  role="button" class="myButtonsimple"<%= link_to "About", '/static_pages/about'%> </a>
            </li>
            <li class="nav-perso">
                  <a  role="button" class="myButtonsimple"<%= link_to "Contact", '/static_pages/contact'%> </a>
            </li>
          </ul>

          <div class="collapse navbar-collapse d-flex justify-content-end navbar-left" id="navbarColor03">
            <ul class="navbar-nav mr-auto pond d-flex user-alert-container">
          <% @n = 0 %>
          <% if user_signed_in? %>
          <% if current_user.conversations.length > 0 %>


            <% current_user.conversations.each do |convo| %>
              <% unless convo.messages.length == 0 %>
                <% if convo.messages.last.has_been_read == false %>
                  <% @n += 1 %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% current_user.articles.each do |article| %>
            <% article.comments.each do |comment| %>
              <% if comment.has_been_read == false %>
                <% @n += 1 %>
              <% end %>
            <% end %>
          <% end %>

          <% if current_user.pending_friends.length > 0 || @n > 0 %>
            <div class="d-flex left-nav-container">
              <div>
              <input id="check01" type="checkbox" name="menu"/>
              <div class="notifications-icon-container">
                <label class="notification-lbl" for="check01">
                  <%= image_tag "notifications-bell-icon.png", class: "notifications-icon"%>
                </label>
              </div>
              <ul class="submenu">
                    <% @n = 0 %>
                    <% if current_user.pending_friends.length > 0 %>
                      <p><%= "Friend requests :" %></p>
                      <% n = 1 %>
                      <% current_user.pending_friends.each do |pending_friend| %>
                        <% @n += 1 %>
                        <li>
                          <%= link_to pending_friend.email, profile_path(pending_friend.id) %>
                          <a id="friend-request" <%= link_to "Accept friend request", friendships_path(:friend_id => pending_friend.id, :n => n), method: :post, :remote => true %></a>
                            <% n += 1 %>
                        </li>
                      <% end %>
                    <% end %>
                <% current_user.articles.each do |article| %>
                  <% article.comments.each do |comment| %>
                    <% if comment.has_been_read == false %>
                      <p><%= "New comments :" %></p>
                      <li> New comment on <%= link_to comment.article.title, article_path(comment.article.id) %>   </li>
                      <% @n += 1 %>
                    <% end %>
                  <% end %>
                <% end %>
                <% if current_user.conversations.length > 0 %>


                  <% current_user.conversations.each do |convo| %>
                      <% unless convo.messages.length == 0 %>

                        <% if convo.messages.last.has_been_read == false %>
                        <% @n += 1 %>
                        <p><%= "New messages :" %></p>
                        <li>  New message from : <a <%= link_to convo.interlocutor.email, conversation_path(convo.id) %> </a></li>

                      <% end %>
                    <% end %>
                  <% end %>
                <% end %>
                <% if @n == 0 %>
                <li ><p> Any </p>  notification <br/> </li>
                <% end %>

              </ul>
            </div>
          <% else %>
          <%= image_tag "no-notifications-bell-icon.png", class: "no-notification-icon" %>
          <% end %>

              <div>
               <a role="button" class="myButtonheader"<%= link_to "Profile", profile_path(current_user.id)%></a>
              </div>
              <div>
                <a role="button" class="myButtonheader"<%= link_to "Sign out ", '/users/sign_out', method: :delete %></a>
              </div>
              <div>
              <% if current_user.is_admin? %>
                <a type="button" class="myButtonheader" <%= link_to "Dashboard", admin_index_path %></a>
              </div>
            </div>
            <% end %>

          <% else %>

            <a role="button" class="myButtonheader" <%= link_to "Sign up", '/users/sign_up' %></a>
            <a role="button" class="myButtonheader" <%= link_to "Sign in",'/users/sign_in' %></a>

          <% end %>

        </ul>
          </div>

        </div>
      </div>
    </nav>


  <%= yield %>


    <footer  class="footer-shadow ttm-footer ttm-footer-bg">

      <div class="cart_card ">
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left" style="color:#FFF;">
          <!-- Grid row -->
          <div class="row footer-content-container">
            <div class="col-md-3 mt-md-0 mt-3 footer-column-container text-center">
              <%= image_tag("logo-to-the-moon.png") %>
              <ul class="list-unstyled">
                <li>
                  <a style="color:#FFF;" <%= link_to "Terms And Conditions",'/static_pages/terms_and_conditions' %></a>
                </li>
                <li>
                  <a style="color:#FFF;" <%= link_to "Privacy Policy",'/static_pages/privacy_policy' %></a>
                </li>

                <li>
                  <a style="color:#FFF;" <%= link_to "About",'/static_pages/about' %></a>
                </li>
              </ul>
            </div>
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 footer-column-container-2">
              <!-- Content -->
              <br/>
              <br/>
                <h4 class="text-uppercase bold"  style="color:#FFF;" >Purpose</h4>
                <p> Our platform is designed for new comers who want to become more knowledgeable on crypto-currencies.</p>
                <p> To the moon aim to inform its users on distributed ledger technology (technology behind crypto-currencies).</p>

            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3 footer-column-container-3">
              <!-- Links -->
              <br/>
              <br/>
              <p>Support our team with donation : </p>
              <p>
                BTC adress : <small>19cAcF3FCmiRjsZ94<br/>pT9ac9WmWP2UqtNTH</small>
              </p>
              <p>
                ETH adress : <small>0xfc7ab61aecea4c9975eff<br/>3169450b6b5a3699212</small>
              </p>
              </br>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->
      </div>
      <!-- Card Links -->
    </footer>
  </body>
</html>
